* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', Arial;
}

body{
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

#home {
    background-image: url("../assets/background.gif");
    background-size: cover;
    min-height: 100vh;
    height: auto;
    
}

header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.header-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logotipo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logotipo {
    width: 70%;
}

.options-container {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.options-container a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background: linear-gradient(180deg, #FCE185 0%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0px 15px;
    transition: 200ms;
}

.options-container a:hover {
    color: white;
    transform: scale(1.1);
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.itens-container{
    display: flex;
    margin-top: 20px;
}

.settings{
    width: 340px;
    height: 489px;
    position:static;
    background: #0c1030;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.button-settings{
    width: 100%;
    height: 35px;
    border-radius: 8px;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.514);
    background-color: #0c1030;
    margin-bottom: 8px;
    cursor: pointer;
}

.button-settings a {
    text-decoration: none;
    color: white;
}

.content {
    width: 90%;
}

.content h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
}

.align-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.align-button button{
    background-color: #CD4343;
    color: #ecddab;
    font-weight: bold;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 200ms;
}

.align-button button:hover {
    transform: scale(0.9);
}

.local-books {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card-book {
    /* max-width: 960px; */
    width: 445px;
    height: 239px;
    margin: 0px 15px 15px 0px;
    background-color: #0C1030;
    /* background: linear-gradient(98.68deg, #001038 0.72%, #004A5A 100%); */
    border-radius: 16px;
    padding: 15px 15px 15px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.local-img{

    max-width: 137.5px;
    max-height: 200px;
    
}

.local-img img{
    width: 100%;
}

hr{
    margin-bottom: 5px;
    border-color: rgba(255, 255, 255, 0.514);
}

.local-itens h3{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
}

.icons-card {
    display: flex;
    justify-content: space-between;
}

.local-itens h4{
    font-size: 1rem;
    font-weight: normal;
    color: #FFEAA3;

}

.align-itens{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.align-info{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-bottom: 7px;
}

.content-info{
    text-indent: 5px
}

.local-itens{
    width: 58%;
    height: 100%;
}

.buttons-card button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 200ms;
}

.buttons-card button:hover {
    transform: scale(1.1);
}
.delete-button-card {
    margin-left: 15px;
}


.fake-input {
    display: none;
}

/* modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.461);
}
.modal .content {
    /* background-color: #D3D3D3;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px; */
    width: 40%; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-button-form-card {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-left: 125px;
}

.form {
    background: #1E1E32;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px 0px 30px;
    border-radius: 10px;
}

.form .top-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
}

.left-form {
    width: 48%;
}

.rigth-form {
    width: 48%;
}


.top-form .item {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.top-form .item p {
    color: white;
    margin-bottom: 8px;
}

.top-form .item input {
    height: 95%;
    border-radius: 5px;
    border: none;
    background: #303047;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
}

.top-form .align-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-item .itemd {
    width: 48%;
    height: 55px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.align-item .itemd p {
    color: white;
    margin-bottom: 8px;
}

.align-item .itemd input {
    height: 95%;
    border-radius: 5px;
    border: none;
    background: #303047;
    color: white;
    box-sizing: border-box;
    padding-left: 10px;
}

.buttonForm {
    border: 2px solid #6F6F71;
    color: white;
    font-size: 15px;
    border-radius: 7px;
    width: 100%;
    height: 50px;
    background-color: #1E1E32;
    cursor: pointer;
    margin: 20px 0px;
    transition: 200ms;
}

.buttonForm:hover {
    transform: scale(0.9);
}